.NextArrow {
  display: flex;
  z-index: 1;
  position: absolute;
  background-color: #ff006c;
  border-radius: 19px;
  padding: 8px;
  top: 50%;
  transform: translateY(50%);
  right: 0;
  margin-right: -12px;
  color: black;
}
.NextArrow::after,
.NextArrow:hover {
  /* display: block; */
  background-color: black;
  border-radius: 18px;
  color: white;
}
