.PrevArrow {
  display: flex;
  /* background: white; */
  z-index: 1;
  left: -20;
  position: absolute;
  background-color: rgb(65, 63, 63);;
  border-radius: 15px;
  padding: 8px;
  top: 50%;
  transform: translateY(50%);
  margin-left: -15px;
  color: black;
}
.PrevArrow::after,
.PrevArrow:hover {
  display: flex;
  background-color: black;
  border-radius: 18px;
  color: white;
}
