body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Blacck;
  src: local("Black"), url("./assets/fonts/Blacck.ttf");
}
@font-face {
  font-family: Bold;
  src: local("Bold"), url("./assets/fonts/Bold.ttf");
}
@font-face {
  font-family: ExtraBlack;
  src: local("ExtraBlack"), url("./assets/fonts/ExtraBlack.ttf");
}
@font-face {
  font-family: ExtraBold;
  src: local("ExtraBold"), url("./assets/fonts/ExtraBold.ttf");
}
@font-face {
  font-family: Light;
  src: local("Light"), url("./assets/fonts/Light.ttf");
}
@font-face {
  font-family: Medium;
  src: local("Medium"), url("./assets/fonts/Medium.ttf");
}
@font-face {
  font-family: Regular;
  src: local("Regular"), url("./assets/fonts/Regular.ttf");
}
@font-face {
  font-family: Thin;
  src: local("Thin"), url("./assets/fonts/Thin.ttf");
}
